/* Cards */
.cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 25px;
  margin: 10px 0;
}

.card {
  width: 286px;
  background-color: white;
  border: 1px solid #dfdfdf;
  border-radius: 10px;
}

.card img {
  width: 100%;
  height: 180px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-body {
  padding: 5px 15px 15px 15px;
}

.card-body h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.card-body a {
  margin-top: 10px;
  padding: 10px 20px;
  color: #f2f2f2;
  background-color: black;
  display: inline-block;
  font-weight: bold;
  border-radius: 10px;
}

.card-body a:hover {
  opacity: 0.7;
}
/* /Cards */

/* MEDIA QUERIES */
@media (max-width: 960px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }

  .card img {
    height: 250px;
  }
}
