/* CONTACT */
.contact {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-form {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  border: 2px solid #8c8b88;
  border-radius: 5px;
}

.input {
  width: 400px;
  height: 40px;
  padding: 10px;
  font-size: 15px;
}

.textarea {
  width: 400px;
  padding: 10px;
  font-size: 15px;
}

::placeholder {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
}
/* /CONTACT */