/* Footer */
.footer {
  display: flex;
  align-items: center;
  background-color: #efeff1;
  height: 100px;
  width: 100%;
  margin-top: 50px;
}

.footer a {
  color: black;
  cursor: pointer;
  font-size: 14px;
  padding-left: 30px;
  text-decoration: none;
}

.footer a:hover {
  color: #8c8b88;
}

@media only screen and (max-width: 600px) {
  .footer {
    align-items: flex-start;
    flex-direction: column;
    padding: 20px;
  }
}
