/* INFO */
.info-one {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  background-color: #efefef;
}

.info-one img {
  width: 100%;
}

.content {
  width: 100%;
  display: flex;
  padding: 0px 20px;
  flex-direction: column;
  justify-content: center;
}

.content h2 {
  font-size: 50px;
}

.content h2,
.content p,
.content a {
  margin-top: 30px;
}

.btn-info {
  width: 130px;
  padding: 10px 20px;
  color: #f2f2f2;
  background-color: black;
  display: inline-block;
  font-weight: bold;
  border-radius: 10px;
}

.btn-info:hover {
    opacity: 0.7;
}
/* /INFO */

@media (max-width: 960px) {
  .info-one {
    flex-direction: column;
    align-items: center;
    height: 990px;
  }

  .info-one img {
    width: 100%;
    height: 650px;
  }

  .content {
    width: 100%;
    align-items: center;
    padding-bottom: 10px;
  }

  .content h2,
  .content p,
  .content a {
    margin-top: 20px;
  }
}