/* NAVIGATION */
.header {
  background: #efeff1;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 10;
  position: fixed;
}

.nav-main {
  width: 90%;
  font-size: 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-main a {
  color: black;
}

.nav-brand {
  font-size: 20px;
}

.nav-main ul {
  display: flex;
}

.nav-main ul li {
  margin-left: 10px;
}

.nav-main ul li a:hover {
  color: #8c8b88;
}

.menu-btn {
  cursor: pointer;
  z-index: 11;
  color: black;
  display: none;
}
/* /NAVIGATION */

@media (max-width: 960px) {
  .menu-btn {
    display: block;
  }

  .nav-main ul.nav-menu {
    display: block;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #000;
    opacity: 0.9;
    padding: 20px;
    transform: translateY(-220px);
    transition: transform 0.5s ease-in-out;
  }

  .nav-main ul.nav-menu.show {
    transform: translateY(0px);
  }

  .nav-main ul li {
    margin-bottom: 20px;
  }
}
