/* SHOWCASE */
.showcase {
  width: 100%;
  height: 600px;
  background: url("https://images.pexels.com/photos/220201/pexels-photo-220201.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940")
    no-repeat center center/cover;
  padding: 50px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  color: white;
}

.showcase p {
  text-align: center;
}

.btn {
  cursor: pointer;
  display: inline-block;
  border: 0;
  font-weight: bold;
  padding: 10px 20px;
  background-color: #000;
  color: white;
  font-size: 15px;
  border: 1px solid white;
  margin: 10px 0;
  border-radius: 10px;
}

.btn:hover {
  opacity: 0.7;
}

.showcase h2,
.showcase p {
  margin-bottom: 10px;
}